.main {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.main h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}
.main div {
  position: relative;
  margin-bottom: 10px;
}
.main label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main label p {
  width: 15%;
}
.main label input {
  width: 50%;
  height: 30px;
  border-radius: 10px;
}
.button {
  width: 330px;
}

.error {
  text-align: left;
  padding-left: 170px;
  margin-top: 10px;
  font-size: 14px;
  color: brown;
}
