.list {
  margin-bottom: 20px;
}
.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
.list input[type="text"] {
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}
.list span {
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}
.list label {
  display: flex;
  align-items: center;
}
.button-box button {
  cursor: pointer;
  height: 40px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
